@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Style Blog a Blogging Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="blog-body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/js")
    @RenderSection("Scripts", required: false)
    <script>
        new WOW().init();
        $((function () {
            var newWindowProps = "toolbar=0,status=0,width=548,height=325";
            var gPlusShareLink = "https://plus.google.com/share?url=**link**";
            var fbShareLink = "https://www.facebook.com/sharer/sharer.php?u=**link**&v=1";
            var twittrShareLink = "https://twitter.com/intent/tweet?url=**link**&text=**text**";

            $('.shareSocial').each(function (index, element) {
                var $self = $(this);
                var shareLink = "";

                if ($self.hasClass('fb')) {
                    shareLink = fbShareLink.replace("**link**", document.location.href);
                }

                if ($self.hasClass('twit')) {
                    shareLink = twittrShareLink
                        .replace("**link**", document.location.href)
                        .replace("**text**", encodeURI(document.title));
                }

                if ($self.hasClass('goog')) {
                    shareLink = gPlusShareLink.replace("**link**", document.location.href);
                }

                var onClick = "window.open('" + shareLink + "', 'sharer', 'toolbar=0, status=0, width=548, height=325');";

                $self.attr("onclick", onClick);
            });
        })());
    </script>
</body>
</html>